@import "../../styles/main.scss";

.main_layout__container {
    background: none;
}

.main_layout__header {
    position: sticky;
    top: 0;
    z-index: 1;

    width: 100%;

    display: flex;
    align-items: center;

    color: $lightTextColor;
    background-color: #141418;
}

.main_layout__logotype {
    width: 100%;
    text-align: center;
}

.main_layout__content {
    margin-top: 1em;
}