@import "../../styles/main.scss";

.main_layout__container {
    background: white;
    min-height: 100vh;
}

.main_layout__header {
    position: sticky;
    top: 0;
    z-index: 1;
    
    width: 100%;
    
    display: flex;
    align-items: center;
    
    background-color: inherit;
    color: $primaryColor;
}

.main_layout__logotype {
    a {
        color: inherit !important;
    }

    width: 100%;
    text-align: center;
}

.main_layout__content {
    margin-top: 1em;
}