@import "../../styles/main.scss";

.issue__list_item {
    padding: 0 $p-md;
}

.issue__list_item_id {
    vertical-align: top;
    margin-right: 2em;
}

.issue__list_item_container {
    align-items: start !important;
}