@import "../../styles/main.scss";

.issue__list_item_container {
    border: 0 !important;
}

.issue__list_item {
    border: 1px solid $primaryBorderColor;
    width: 100%;
    min-height: 100%;
    box-shadow: $shadow-0;
}

.issue__list_item_id {
    vertical-align: top;
    margin-right: 2em;
}

.issue__list_item_container {
    align-items: start !important;
}